.custom-scrollbar::-webkit-scrollbar {
  width: 9px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0887c7; /* Teal */
  border-radius: 40px;
  border: 2px solid transparent;
  background-clip: content-box;
}